<!-- PROVIDER DASHBOARD -->
<% layout('layout/boilerplate.ejs') -%>

<section>
    <h1 class="text-center my-4">Provider Dashboard</h1>

    <div class="row justify-content-evenly mt-5 w-100 d-flex">
        <div class="mb-4 col-lg-3 text-md-left text-center">
            <div class="card-body">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px; border: 1px solid black">
                <h5 class="my-3"><%= userInfo.name %></h5>
                <p class="text-muted mb-1">Property Provider</p>
                <p class="text-muted mb-4"><%= userInfo.address.city %>, <%= userInfo.address.state %></p>
                <div class="d-flex mb-2 justify-content-md-start justify-content-center column-gap-2">
                    <a role="button" class="btn btn-primary" style="color: white;" href="/provider/<%= userRoleID %>/edit">Edit Profile</a>
                    <a role="button" class="btn btn-outline-secondary" href="/property/new">Add a property</a>
                </div>
            </div>
        </div>

        <div class="card mb-4 col-lg-5 col-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"><%= userInfo.name %></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"><%= userInfo.email %></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">+91 <%= userInfo.phone %></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">DOB</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"><%= userInfo.dob.toLocaleDateString('fr') %></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">GST Number</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"><%= userInfo.gst %></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-2">Details</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="text-muted">PropertyCount : <%= userInfo.properties.length %></div>
                        <div class="text-muted">CompletedBooking : <%= userInfo.bookingCompleted.length %></div>
                        <div class="text-muted">PendingBooking : <%= userInfo.bookingPending.length %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="all: revert; height: 1px; background-color: black">

    <div class="container my-3 py-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-pills" role="presentation">
                <button class="nav-link active" style="padding-left: 3rem; padding-right: 3rem;" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="true">Properties</button>
            </li>
            <li class="nav-pills" role="presentation">
                <button class="nav-link" id="completed-tab" style="padding-left: 3rem; padding-right: 3rem;" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">Completed Bookings</button>
            </li>
            <li class="nav-pills" role="presentation">
                <button class="nav-link" id="pending-tab" style="padding-left: 3rem; padding-right: 3rem;" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">Pending Bookings</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- PROPERTIES -->
            <div class="tab-pane fade show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
                <ul class="list-group-flush list-group">
                    <% for (let prop of userInfo.properties) { %>
                        <li class="list-group-item">
                            <div class="card border-dark">
                                <div class="card-header bg-primary-subtle py-1"></div>
                                <div class="card-body">
                                    <p class="card-title pb-0 mb-0 text-muted small">Property ID : <%= prop._id %></p>
                                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                                        <h5 class="card-body m-0 p-0">Name: <%= prop.name %> </h5>
                                        <button onclick="deleteProperty('<%= prop.id %>')" class="btn btn-danger">Remove Listing</button>
                                        <a href="/property/<%= prop._id %>" class="btn btn-primary">See Property</a>
                                        <a href="/property/<%= prop._id %>/edit" class="btn btn-secondary">Edit Property</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>

            <!-- COMPLETED BOOKINGS -->
            <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                <ul class="list-group-flush list-group">
                    <% for (let com of userInfo.bookingCompleted) { %>
                        <li class="list-group-item">
                        <% if (com.res) { %>
                            <div class="card">
                                <div class="card-header bg-success%> "></div>
                                <div class="card-body pb-0">
                                    <p class="card-title pb-0 mb-0 text-muted small">Booking ID : <%= com.id %></p>
                                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                                        <h5 class="card-body m-0 p-0">Name: <%= com.property.name %> </h5>
                                        <button class="btn disabled"><%= com.comment %></button>
                                    </div>
                                    <div class="d-flex flex-column flex-md-row gap-3 mt-2 mb-3">
                                        <h6 class="col-md-3 col-12 text-center">Booking Details:</h6>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Name:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><%= com.by.name %></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Occupation:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><%= com.by.occupation %></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Gender:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted text-capitalize"><%= com.by.gender %></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Age:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><%= (new Date().getFullYear() - com.by.dob.getFullYear()) %></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Booking Date:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><%= com.date.toLocaleDateString('fr') %></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">Booking Amount:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><%= com.property.bookingMoney %> ₹</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-md-4 col-sm-4">User Profile Pic:</div>
                                                <div class="col-6 col-md-6 col-sm-8 text-muted"><a href="<%= com.by.profilePic %>" target="_blank">Profile Picture</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="card pb-3">
                                <div class="card-header bg-danger-subtle "></div>
                                <div class="card-body pb-0">
                                    <p class="card-title pb-0 mb-0 text-muted small">Booking ID : <%= com.id %></p>
                                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                                        <h5 class="card-body m-0 p-0">Name: <%= com.property.name %> </h5>
                                        <button href="#" class="btn disabled"><%= com.comment %></button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </li>
                    <% } %>
                </ul>
            </div>

            <!-- PENDING BOOKINGS -->
            <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                <% if (userInfo.bookingPending.length === 0) { %>
                    <p class="h5 text-center my-4">No Pending Bookings!</p>
                <% } %>
                <ul class="list-group-flush list-group">
                    <% for (let pend of userInfo.bookingPending) { %>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header bg-black bg-opacity-50 "></div>
                            <div class="card-body pb-0">
                                <p class="card-title pb-0 mb-0 text-muted small">Booking ID : <%= pend.id %></p>
                                <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                                    <h5 class="card-body m-0 p-0">Name: <%= pend.property.name %> </h5>
                                    <form data-url="/booking/<%= pend.id %>?_method=patch" class="pending-submit validation-required d-flex col-md-8 col-12 flex-md-row flex-column justify-content-md-evenly align-items-center row-gap-2" method="post" novalidate>
                                        <input name='comment' type="text" class="form-control col-10 col-md-5" placeholder="Enter Booking Comment" required>
                                        <input name='res' type="text" hidden value="">
                                        <button value="true" type="submit" class="btn btn-success col-8 col-sm-4 col-md-3">Accept Booking</button>
                                        <button value="false" type="submit" class="btn btn-danger col-8 col-sm-4 col-md-3">Reject Booking</button>
                                    </form>
                                </div>
                                <div class="d-flex flex-column flex-md-row gap-3 mt-2 mb-3">
                                    <h6 class="col-md-3 col-12 text-center">Booking Details:</h6>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Name:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted"><%= pend.by.name %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Occupation:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted"><%= pend.by.occupation %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Gender:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted text-capitalize"><%= pend.by.gender %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Age:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted"><%= (new Date().getFullYear() - pend.by.dob.getFullYear()) %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Booking Date:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted"><%= pend.date.toLocaleDateString('fr') %></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-md-4 col-sm-4">Booking Amount:</div>
                                            <div class="col-6 col-md-6 col-sm-8 text-muted"><%= pend.property.bookingMoney %> ₹</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
	for (let el of document.getElementsByClassName('pending-submit')) {
        el.addEventListener('submit', (e) => {
			e.preventDefault();
            e.target.children[1].value = e.submitter.value;

	        const comment = e.target.children[0].value;
	        if (comment.trim().length === 0) {
		        alert('please enter comment!');
				return;
	        }

			const form = e.target;

 			const formData = new URLSearchParams(new FormData(form));
	        const url = form.dataset.url;

	        const config = {
		        url: url,
		        method: 'post',
		        headers: {
			        'Content-Type': 'application/x-www-form-urlencoded',
		        },
		        data: formData.toString()
	        }

			axios(config)
                .then(response => {
					addFlash('success', 'Booking successfully completed!');
					setTimeout(() => {
						window.location.reload();
                    }, 1000);
                })
                .catch(err => {
					addFlash('error', 'Could not update booking!');
                });
        });
	}

    async function deleteProperty (prop_id) {
		const url = `/property/${prop_id}?_method=delete`

        const config = {
			url: url,
            method: 'post'
        }

		axios(config)
            .then (res => {
				addFlash('success', 'Property deleted successfully!');
				setTimeout(() => {
				    window.location.reload();
                }, 1000);
            })
            .catch (err => {
	            addFlash('error', 'Could not delete property, some error occurred!');
            });
    }
</script>
